{% extends 'base.html' %}
{% block content %}

    <style>
        .jumbotron{
        padding: 10px;
        margin-bottom: 0px;
        font-size: 30px;
        color: #00ff00
        }
    </style>
<a class="jumbotron" href="{% url 'user_profile' post.user.id %}">{{ post.user.username }}</a>
<h6>{{ post.update }}</h6>
    <style>
        .card{
        padding: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: #6ea7dd


        }
    </style>

<p class="card">{{ post.body }}
<hr/>
{% for comment in comment %}
<div class="card bg-dark text-white"><p class="card-header">{{ comment.user }} | {{ comment.created|timesince }}</p><p class="card-body">{{ comment.body }}</p></div>
{% empty %}
<p>No comment yet !</p>
{% endfor %}
</p>



{% if request.user.id == post.user.id %}
<a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
{% endif %}
{% endblock %}