{% extends 'base.html' %}
{% block content %}
<form action="" method="get">
    {{ form.as_p }}
    <input type="submit" value="Search">
</form><br></br>
    <style>
        .card{
        padding: 10px;
        margin-bottom: 20px;
        font-size: 20px;
        background-color: #f69feb


        }
    </style>

    {% for post in post %}
<div class="card">
<h3>{{ post.user }} :</h3>
<a href="{% url 'home:post_detail' post.id post.slug %}" class="card-body">{{ post.body }}</a>
    </div>{% endfor %}


{% endblock %}