{% extends 'base.html' %}
{% block content %}
    <style>
        .text-center{
        color: #00ff00
        }
    </style>
<h1 class="text-center" style="color=green ">{{ user.username }}</h1>
{% if request.user.id == user.id %}
    <a href="{% url 'home:post_create' %}" class="btn btn-primary">Create</a>
{% endif %}


{% if request.user.id != user.id and not is_following %}
<a class="btn btn-primary" href="{% url 'user_follow' user.id %}">Follow</a>
{% elif request.user.id != user.id and is_following %}
<a class="btn btn-primary" href="{% url 'user_unfollow' user.id %}">UnFollow</a>
{% endif %}




    <style>
        .card{
        font-size: 15px;
        background-color: #6ea7dd


        }
    </style>


<a class="btn btn-primary" href="{% url 'user_Posts' user.id %}">Posts</a>
<a class="btn btn-primary" href="{% url 'user_followers' user.id %}">Followers</a>
<a class="btn btn-primary" href="{% url 'user_following' user.id %}">Following</a>




    {% for f in following %}
    <a href="" >{{ f.from_user }}</a>
{% endfor %}


{% endblock %}

